[Unit]
Description=Run remote backup script at 4am daily

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true
Unit=restic-backup.service

[Install]
WantedBy=timers.target

